<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin - Minimal projects</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/admin/bootstrap.min.css" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="/static/admin/style.css" rel="stylesheet">
 
</head>



<body >
    <div class="container-fluid position-relative p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
       

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3" id="sidebar">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Admin</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0"><%= admin.firstName %></h6>
                        <% if (admin.superAdmin) { %>
                        <span>Super Admin</span>
                        <% } %>
                    </div>
                </div>
                <div class="navbar-nav w-100" id="sidebar">
                    <!-- <button class="nav-item nav-link" style="padding:0.5 rem 1 rem"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</button> -->
                    <% if (admin.superAdmin) { %>
                    <a href="#dashboard" class="nav-item nav-link" id="dashboard"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                            <% } %>
                     <% if (admin.userManager) { %>
                    <a href="#users" class="nav-item nav-link " id="users"><i
                            class="fa fa-users me-2"></i>Users</a>
                            <% } %>
                            <% if (admin.superAdmin) { %>
                    <a href="#employees" class="nav-item nav-link " id="employees"><i
                            class="fa fa-user me-2"></i>Employees</a>
                            <% } %>
                            <% if (admin.productManager) { %>
                    <a href="/admin/design/category" class="nav-item nav-link" id="category"><i
                            class="fa fa-user me-2"></i>Category</a>
                    <a href="/admin/products" class="nav-item nav-link " id="products"><i
                            class="fa fa-table me-2"></i>Products</a>
                            <% } %>
                            <% if (admin.orderManager) { %>
                    <a href="/admin/orders" class="nav-item nav-link active" id="orders"><i
                            class="fa fa-chart-bar me-2"></i>Orders</a>
                            <% } %>
                            <% if (admin.superAdmin) { %>
                    <a href="/admin/coupons" class="nav-item nav-link" id="coupons"><i
                            class="fa fa-chart-bar me-2"></i>Coupons</a>
                    <a href="#banners" class="nav-item nav-link" id="banners"><i
                            class="fa fa-chart-bar me-2"></i>Banners</a>
                            <% } %>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <div id="content">
            <div class="padding">
  
       <section style="background-color: #8282b229;" class="mt-3" id="orderContainer">
        <section class="checkout spad">
            <div class="container">
                <form id="successForm">
                    <div class="row colorbg ">

                        <div class="col-lg-7 col-md-7 billLabel ">
                            <div class="row">
                                <div class="col-lg-12 font-weight-500">
                                    <h5>Billed Address</h5>
                                </div>
                                <div class="col-lg-6 text-start mt-2">
                                    email: <%= order.billingAddress.email %> <br>
                                    phone: <%=  order.billingAddress.phone %> <br>
                                    <%= order.billingAddress.name %>, <br>
                                    <%= order.billingAddress.address  %>, <br>
                                    <%= order.billingAddress.city %>, <%= order.billingAddress.state %>, <%= order.billingAddress.country %> <br>
                                    PINCODE: <%= order.billingAddress.zip %>, <br>

                                </div>
                                <div class="col-lg-6 text-start mt-2">
                                    <h5>Customer Details</h5>
                                    Name: <%= order.userId.firstName %> <br>
                                    Email: <%= order.userId.email %><br>
                                    
                                 
                                </div>
                                <hr>
                                <div class="col-lg-12 my-3">
                                    <h6 class="my-2 ">Ordered Products</h6>
                                    <div class="row products borderbg" id='eachProduct'>
                                        <% order.products.forEach((product)=> { %>
                                        <div class="items col-lg-12 my-3">
                                            <div class="row">
                                                <img class="col-lg-2" src="/static/uploads/<%=product.product.category%>/<%=product.product.designCode%>/<%=product.product.images[0]%>"alt="">
                                                <div class=" col-lg-10">
                                                  <a href="/user/product/<%=product.product._id%>"><span><%= product.product.name %> </span></a><br>
                                                  <small>Size: <%=  product.product.size %></small><br>
                                                  <small>Quantity: <%= product.product.quantity %></small><br>
                                                  <small>Price: <%= product.product.price %></small><br>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 ">
                            <div class="checkout__order">

                                <div class="checkout__order__total">
                                    <ul>
                                        <li>Order ID <input type="text" id="" name="coupon"
                                            class="total couponInput" value=<%= order.orderId %>" readonly></li>
                                        <li>Coupon Applied <input type="text" id="couponCode" name="coupon"
                                                class="total couponInput" value="<%= order.coupon %>" readonly></li>
                                        <li>Subtotal <input type="text" name="subTotal" id="subTotal"
                                                class="total checkoutInput" value="<%= order.subTotal %>" readonly></li>
                                        <li>Discount <input type="text" id="discount" name="discount"
                                                class="total checkoutInput" value="<%= order.discount %>" readonly></li>
                                        <li>Total <sup>(tax included*)</sup> <input name="total" type="text" id="total"
                                                class="total checkoutInput" readonly value="<%= order.totalAmount %>"></li>
                                        <li>Payment Mode <input name="total" type="text" id="total"
                                                class="total checkoutInput" readonly value="<%= order.paymentMethod %>"></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section> 
        <!-- Checkout Section End -->

       

      </div>
   
            </div>

            <!-- product start -->
           
            <!-- product end -->

       


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/admin/lib/easing/easing.min.js"></script>
    <script src="/static/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/admin/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

   
</body>

</html>