<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minimal projects</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <%- include('./partials/user-navbar.ejs') %>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <% if ( banners.length >  0) { %>
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                   
                    <div class="categories__item categories__large__item set-bg"
                    style="background-image: url('/static/uploads/banners/<%= banners[0].image %>');">
                        <div class="categories__text">
                           
                            <h1><%= banners[0].title %></h1>
                            <p><%= banners[0].description %></p>
                            <a href="<%= banners[0].actionLink %>"><%= banners[0].actionText %></a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" style="background-image: url('/static/uploads/banners/<%= banners[1].image %>');">
                                <div class="categories__text">
                                    <h4><%= banners[1].title %></h4>
                                    <p><%= banners[1].description %></p>
                                    <a href="<%= banners[1].actionLink %>"><%= banners[1].actionText %></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" style="background-image: url('/static/uploads/banners/<%= banners[2].image %>');">
                                <div class="categories__text">
                                    <h4><%= banners[2].title %></h4>
                                    <p><%= banners[2].description %></p>
                                    <a href="<%= banners[2].actionLink %>"><%= banners[2].actionText %></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" style="background-image: url('/static/uploads/banners/<%= banners[3].image %>');">
                                <div class="categories__text">
                                    <h4><%= banners[3].title %></h4>
                                    <p><%= banners[3].description %></p>
                                    <a href="<%= banners[3].actionLink %>"><%= banners[3].actionText %></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" style="background-image: url('/static/uploads/banners/<%= banners[4].image %>');">
                                <div class="categories__text">
                                    <h4><%= banners[4].title %></h4>
                                    <p><%= banners[4].description %></p>
                                    <a href="<%= banners[4].actionLink %>"><%= banners[4].actionText %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>
    <!-- Categories Section End -->
    <div id="kankuna">

    </div>

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New product</h4>
                        <!-- <div class="label new">New</div> -->
                        <!-- <div class="label sale">Sale</div> -->
                    </div>
                </div>
           
            </div>
            <div class="row property__gallery">
                <% products.forEach((product)=> {  %>
                    
               
                <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" style="background-image: url('/static/uploads/<%= product.category %>/<%= product.designCode %>/<%= product.images[0] %>');">
                           
                            <ul class="product__hover">
                              
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/user/product/<%= product._id %>"><%= product.name %></a></h6>
                            
                            <div class="product__price">&#8377;<%= product.price %></div>
                        </div>
                    </div>
                </div>
                <%  }) %>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <% if ( banners.length >  0) { %>
    <!-- Banner Section Begin -->
    <section class="banner set-bg" style="background-image: url('/static/uploads/banners/<%= banners[6].image %>');">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><%= banners[6].description %></span>
                                <h1><%= banners[6].title %></h1>
                                <a href="<%= banners[6].actionLink %>"><%= banners[6].actionText %></a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><%= banners[6].description %></span>
                                <h1><%= banners[6].title %></h1>
                                <a href="<%= banners[6].actionLink %>"><%= banners[6].actionText %></a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><%= banners[6].description %></span>
                                <h1><%= banners[6].title %></h1>
                                <a href="<%= banners[6].actionLink %>"><%= banners[6].actionText %></a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><%= banners[6].description %></span>
                                <h1><%= banners[6].title %></h1>
                                <a href="<%= banners[6].actionLink %>"><%= banners[6].actionText %></a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><%= banners[6].description %></span>
                                <h1><%= banners[6].title %></h1>
                                <a href="<%= banners[6].actionLink %>"><%= banners[6].actionText %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <% } %>

    <% if ( banners.length >  0) { %>
    <!-- Discount Section Begin -->
    <section class="discount mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="discount__pic">
                        <img src="/static/uploads/banners/<%= banners[5].image %>" alt="">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="discount__text">
                        <div class="discount__text__title">
                            <span>Discount</span>
                            <h2><%= banners[5].title %></h2>
                            <h5><span><%= banners[5].description %></span> 50%</h5>
                        </div>
                        <div class="discount__countdown" id="countdown-time">
                            <div class="countdown__item">
                                <span>22</span>
                                <p>Days</p>
                            </div>
                            <div class="countdown__item">
                                <span>18</span>
                                <p>Hour</p>
                            </div>
                            <div class="countdown__item">
                                <span>46</span>
                                <p>Min</p>
                            </div>
                            <div class="countdown__item">
                                <span>05</span>
                                <p>Sec</p>
                            </div>
                        </div>
                        <a href="<%= banners[5].actionLink %>"><%= banners[5].actionText %></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount Section End -->
    <% } %>


    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Shipping</h6>
                        <p>For all oder over $99</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If good have Problems</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Online Support 24/7</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->


    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="/static//img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.</p>
                        <div class="footer__payment">
                      
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>