<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"  sizes="96x96" href="/static/favicon/fav.jpg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout | Minimal projects</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <style>
        .form-container {
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .label {
            font-weight: bold;
            font-size: 14px;
            display: block;
        }

        .text {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            float: right;
        }
    </style>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Header Section Begin -->
    <%- include('./partials/user-navbar') %>
        <!-- Header Section End -->

        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>Shopping cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Checkout Section Begin -->
        <section class="checkout spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                        <small class="text-white bg-danger px-5 rounded" id="couponError" style="display: none"> Coupon is not
                            valid</small>
                        <div class="discount__content mb-3">

                            <h6>Discount codes</h6>
                            <form action="#">
                                <input type="text" id="coupon" placeholder="Enter your coupon code">
                                <button onclick="addCoupon(event)" class="site-btn">Apply</button>
                            </form>
                        </div>

                    </div>
                </div>

                <!-- billing address -->
                <form action="/checkout" class="checkout__form" method="post" id="checkoutForm">
                    <div class="row ">

                        <div class="col-lg-8 col-md-8 billLabel">
                            <h5>Billing Details</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="" for="name">Name</label>
                                    <input type="text" placeholder="" name="name"
                                        value="<%= address?.name ?? 'Not added' %>" readonly class="billInput">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Country</label>
                                    <input type="text" placeholder="name" name="country"
                                        value="<%= address?.country ?? 'Not Added' %>" readonly class="billInput">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="name">Address</label>
                                    <input type="text" placeholder="name" name="address"
                                        value="<%= address?.address ?? 'Not Added' %>" readonly class="billInput">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Town/City</label>
                                    <input type="text" placeholder="name" name="city"
                                        value="<%= address?.city ?? 'Not Added' %>" readonly class="billInput">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="name">State</label>
                                    <input type="text" placeholder="name" name="state"
                                        value="<%= address?.state ?? 'Not Added' %>" readonly class="billInput">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Zip Code</label>
                                    <input type="text" placeholder="name" name="zip"
                                        value="<%= address?.zip ?? 'Not Added' %>" readonly class="billInput">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="name">Phone No</label>
                                    <input type="text" placeholder="name" name="phone"
                                        value="<%= address?.phone ?? 'Not Added' %>" readonly class="billInput">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Email</label>
                                    <input type="text" placeholder="name" name="email"
                                        value="<%= address?.email ?? 'Not Added' %>" readonly class="billInput">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6">
                                            <input type="button" class="btn-sm btn text-primary"
                                                data-target=".bd-example-modal-lg" data-toggle="modal"
                                                value="Choose another" onclick="chooseAnother('<%= user._id %>')">
                                            <input class="btn-sm btn text-primary" data-toggle="modal"
                                                onclick="clearFields()" data-target="#exampleModalCenter"
                                                value="Add New">

                                        </div>
                                    </div>


                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="checkout__order">
                                        <h5>Order Products</h5>
                                        <div class="checkout__order__product">
                                            <ul>
                                                <li class="row">
                                                    <span class="col-md-3 col-3">Product</span>
                                                    <span class="col-md-3 col-3">Size</span>
                                                    <span class="col-md-3 col-3">Quantity</span>
                                                    <span class="col-md-3 col-3">Total</span>
                                                </li>
                                                <% products.forEach((product, index)=> { %>
                                                    <li class="row">
                                                        <span class="col-md-3 col-3" >
                                                            <%= index + 1 %>.<%= product._id.name %>
                                                        </span>
                                                        <span class="col-md-3 col-3">
                                                            <%= product.size %>
                                                        </span>
                                                        <span class="col-md-3 col-3">
                                                            <%= product.quantity %>
                                                        </span>
                                                        <span class="col-md-3 col-3 prices">
                                                            <%= product._id.price * product.quantity %>
                                                        </span>
                                                    </li>
                                                    <% }) %>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="checkout__order">

                                <div class="checkout__order__total">
                                    <ul>
                                        <li>Coupon Applied <input type="text" id="couponCode" name="coupon"
                                                class="total couponInput" value="No coupon applied" readonly></li>
                                        <li>Subtotal <input type="text" name="subTotal" id="subTotal"
                                                class="total checkoutInput" readonly></li>
                                        <li>Discount <input type="text" id="discount" name="discount"
                                                class="total checkoutInput" value="0" readonly></li>
                                        <li>Total <sup>(tax included*)</sup> <input name="total" type="text" id="total"
                                                class="total checkoutInput" readonly value=""></li>
                                    </ul>
                                </div>
                                <div class="checkout__order__widget">
                                    <label for="cod">
                                        Cash on Delivery
                                        <input type="radio" name="method" value="COD" id="cod">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label for="paypal">
                                        Online payment
                                        <input type="radio" name="method" checked value="ONLINE" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">Place order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Checkout Section End -->



        <!-- Footer Section Begin -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer Section End -->

        <!-- Search Begin -->

        <!-- Search End -->

        <!-- choose another modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <section style="background-color: #eee;" class="mt-3" id="addressContainer">



                    </section>

                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!--Section: Design Block-->
                        <div class="form-container">
                            <form id="addressForm">
                                <div class="form-group">
                                    <label class="label" for="name">Name:</label>
                                    <input type="text" class="text" id="name" name="name">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="address">Address:</label>
                                    <input type="text" class="text" id="address" name="address">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="city">City:</label>
                                    <input type="text" class="text" id="city" name="city">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="state">State/Province/Region:</label>
                                    <input type="text" class="text" name="state">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="zip">Zip/Postal Code:</label>
                                    <input type="text" class="text" id="zip" name="zip">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="country">Country:</label>
                                    <input type="text" class="text" id="country" name="country">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="phone">Phone Number:</label>
                                    <input type="number" class="text" id="phone" name="phone">
                                </div>

                                <div class="form-group">
                                    <label class="label" for="email">Email Address:</label>
                                    <input type="text" class="text" id="email" name="email">
                                </div>
                                <small id="addressFormError" class="text-danger" style="display: none;">Give a valid
                                    name</small>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addAddress('<%= user._id %>')">Add
                            address</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Js Plugins -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/mixitup.min.js"></script>
        <script src="/static/js/jquery.countdown.min.js"></script>
        <script src="/static/js/jquery.slicknav.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.nicescroll.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="/static/js/main.js"></script>
</body>
<script>

    const Addressform = document.getElementById('addressForm');
    const error = document.getElementById('addressFormError');

    function clearFields() {
        error.style.display = "none";
        Addressform.querySelectorAll('input').forEach((element) => {
            element.value = '';
        })
    }
    function isValidEmail(email) {
        const re =
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    function validatePhoneNumber(phoneNumber) {
        const phoneNumberPattern = /^\d{10}$/;
        return phoneNumberPattern.test(phoneNumber);
    }
    function validateName(name) {
        if (!name || name.trim().length === 0) {
            return false;
        }
        let nameRegExp = /^[A-Za-z\s']+$/;
        return nameRegExp.test(name);

    }
    function validateObject(obj) {
        for (const key in obj) {
            if (!obj[key] || obj[key].trim().length === 0) {
                return false;
            }
        }
        return true;
    }


    Addressform.querySelectorAll('input').forEach((element) => {
        element.addEventListener('keypress', () => {
            error.style.display = 'none';
        })
    })
    function addAddress(id) {
        const formData = new FormData(Addressform);
        const formDataEntries = Array.from(formData.entries());
        const formDataObject = formDataEntries.reduce((acc, [key, value]) => {
            acc[key] = value;
            return acc;
        }, {});
        if (!validateObject(formDataObject)) {
            error.innerHTML = 'Provide all fields';
            error.style.display = 'block';
        } else if (!validateName(formDataObject.name)) {
            error.innerHTML = 'Provide a valid name';
            error.style.display = 'block';
        } else if (!isValidEmail(formDataObject.email)) {
            error.innerHTML = 'Provide a valid email address';
            error.style.display = 'block';
        } else if (!validatePhoneNumber(formDataObject.phone)) {
            error.style.display = 'block';
            error.innerHTML = 'Provide a valid phone number';
        } else {
            fetch(`/checkout/address/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                    address: formDataObject,
                })
            }).then((response) => {
                return response.json();
            }).then((data) => {
                if (data.success) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'New Address Added',
                        showConfirmButton: false,
                        imageHeight: 50,
                        timer: 800
                    })
                    form.name.value = data.address.name;
                    form.email.value = data.address.email;
                    form.city.value = data.address.city;
                    form.state.value = data.address.state;
                    form.address.value = data.address.address;
                    form.zip.value = data.address.zip;
                    form.country.value = data.address.country;
                    form.phone.value = data.address.phone;
                    document.getElementById('exampleModalCenter').classList.remove('show');
                    document.getElementById('exampleModalCenter').style.display = 'none';
                    document.getElementsByClassName('modal-backdrop')[0].classList.remove('modal-backdrop');
                    document.querySelector('body').classList.toggle('modal-open');


                } else {
                    alert(data.error);
                }

            });
        }
    }
    function chooseAnother(id) {
        fetch('/checkout/get/address', {
            method: 'POST',
            body: JSON.stringify({
                id: id,
            }),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((response) => response.json()).then((data) => {
            if (data.error) {
                alert(data.error);
            } else {
                const addressContainer = document.getElementById('addressContainer');
                addressContainer.innerHTML = '';
                data.forEach((address) => {


                    addressContainer.innerHTML += ` <div class="row d-flex  justify-content-center">
        
        <div class="col-lg-11" id=${address._id}>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                    ${address.name}
                  </p>
                </div>

                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                    ${address.address}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">City</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                  ${address.city}
                  </p>
                </div>
                <div class="col-sm-3">
                  <p class="mb-0">State/Province/Region</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                   ${address.state}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Zip/Postal Code</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                    ${address.zip}
                  </p>
                </div>
                <div class="col-sm-3">
                  <p class="mb-0">Country</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                    ${address.country}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone Number</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                  ${address.phone}
                  </p>
                </div>
                <div class="col-sm-3">
                  <p class="mb-0">Email Address</p>
                </div>
                <div class="col-sm-3">
                  <p class="text-muted mb-0">
                   ${address.email}
                  </p>
                </div>
              </div>
              <hr>




              <hr>
              <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
           
                </div>
                <div class="col-sm-3">
                 
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-outline-primary ms-1" onclick="selectAddress( '${address._id}', '${id}')" >Select</button>
                  
              
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>


      </div>`
                });
            }
        })
    }
    const Form = document.getElementById('checkoutForm');
    const form = Form.elements;
    const paymentMethodRadios = form['method'];

    function selectAddress(address, userId) {

        fetch('/checkout/get/one/address', {
            method: 'POST',
            body: JSON.stringify({
                address: address,
                userId: userId
            }),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((data) => data.json()).then((data) => {
            form.name.value = data.name;
            form.email.value = data.email;
            form.city.value = data.city;
            form.state.value = data.state;
            form.address.value = data.address;
            form.zip.value = data.zip;
            form.country.value = data.country;
            form.phone.value = data.phone;
            document.getElementsByClassName('bd-example-modal-lg')[0].classList.remove('show');
            document.getElementsByClassName('bd-example-modal-lg')[0].style.display = 'none';
            document.getElementsByClassName('modal-backdrop')[0].style.display = 'none';
            document.querySelector('body').classList.remove('modal-open');
        })
    }
    let totalAmount;
    const prices = document.getElementsByClassName('prices');
    const subTotal = document.getElementById('subTotal');
    const total = document.getElementById('total');
    document.addEventListener('DOMContentLoaded', function (event) {
        let totalPrice = 0;
        const array = Array.from(prices)
        array.forEach((element) => {
            totalPrice += Number(element.textContent);

        })
        subTotal.value = totalPrice;
        totalAmount = totalPrice;
        total.value = (totalPrice + (totalPrice * (12 / 100)));


    });
    const couponError = document.getElementById('couponError');
    const coupon = document.getElementById('coupon');
    coupon.addEventListener('input', function() {
        couponError.style.display = 'none';
    });
    const couponCode = document.getElementById('couponCode');
    const discount = document.getElementById('discount');
    function addCoupon(event) {
        event.preventDefault();
        fetch('/checkout/add/coupon', {
            method: 'POST',
            body: JSON.stringify({
                coupon: coupon.value,
                total: totalAmount,

            }),
            headers: {
                'Content-Type': 'application/json',

            },
        }).then((response) => response.json()).then((data) => {
            if (data.success) {
                couponError.style.display = 'none';
                if (data.valid) {
                    couponError.innerHTML = 'Coupon is not valid';
                    return couponError.style.display = 'block';

                } else if (data.expire) {
                    couponError.innerHTML = 'Coupon has expired';
                    return couponError.style.display = 'block';
                } else if (data.amount) {
                    couponError.innerHTML = 'Minimum purchase amount didn\'t met';
                    return couponError.style.display = 'block';
                } else if (data.usage) {
                    couponError.innerHTML = 'Coupon is not valid anymore since the maximum usage was reached';
                    return couponError.style.display = 'block';
                } else {

                    couponCode.value = data.couponCode;
                    discount.value = data.discount;
                    const NewTotal = totalAmount - Number(data.discount);
                    subTotal.value = NewTotal.toFixed(2);
                    total.value = (NewTotal + (NewTotal * (12 / 100))).toFixed(2);

                }
            } else {
                couponError.innerHTML = 'Invalid coupon';
                return couponError.style.display = 'block';
            }
        })
    }
    Form.addEventListener('submit', async function (event) {
        event.preventDefault();
        let paymentMethodSelected = false;

        for (let i = 0; i < paymentMethodRadios.length; i++) {
            if (paymentMethodRadios[i].checked) {
                paymentMethodSelected = true;
                break;
            }
        }
        if (!paymentMethodSelected) {
            alert('please select a payment method')
            return false;
        }

        fetch('/checkout/check/address')
            .then((response) => response.json())
            .then((data) => {
                if (data.success) {
                    if (form.method.value == 'ONLINE') {
                        stockChecking().then(() => {
                            fetch('/checkout/payment/online', {
                                method: 'POST',
                                body: JSON.stringify({
                                    total: total.value,

                                }),
                                headers: {
                                    'Content-Type': 'application/json',
                                }
                            }).then((response) => response.json()).then((data) => {
                                if (data.success) {

                                    razorpayPayment(data.order);


                                } else {
                                    console.log(data.error);
                                }
                            })

                        }).catch((error) => {
                            alert(error)
                        })

                    } else {
                        stockChecking().then(() => {
                            Form.submit();
                        }).catch((products) => {
                            alert('Error')
                        })
                    };
                } else {
                    return alert('Please add address');
                }



            })



    })
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_MfdcWpDFtI5Mf9", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Junaid",
            "description": "Test Transaction",//
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        fetch('/checkout/verify/payment', {
            method: 'POST',
            body: JSON.stringify({
                payment: payment,
                order: order
            }),
            headers: {
                "Content-Type": "application/json",
            },
        }).then((response) => response.json()).then((data) => {
            if (data.success) {
                Form.submit();
            }
        })
    }
    async function stockChecking() {
        return new Promise((resolve, reject) => {
            fetch('/checkout/check/stock', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
            }).then((response) => response.json()).then((data) => {
                console.log(data)
                if (data.success) {
                    resolve();
                }
                else {
                    reject(data.products);
                }
            }).catch((err) => {

                console.log(err);
                reject(err)
            })
        })

    }
</script>

</html>