<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <%- include('./partials/user-navbar') %>
        <!-- Header Section End -->

        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                            <span>Shopping cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shop Cart Section Begin -->
        <section class="shop-cart spad">
            <div class="container">
                <div class="row cartLayout">
                    <div class="col-lg-8 cartScroll">
                        <div class="shop__cart__table">
                            <table>
                                <thead>
                                    <tr class="">
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>Size</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach((product)=> { %>
                                        <tr id="<%= product._id._id %>">
                                            <td class="cart__product__item">
                                                <img src="/static/uploads/<%= product._id.category %>/<%= product._id.designCode %>/<%= product._id.images[0] %>"
                                                    alt="" style="height: 40px; width: 40px">
                                            </td>
                                            <td class="cart__product__item">

                                                <div class="cart__product__item__title">
                                                    <h6>
                                                        <%= product._id.name %>
                                                    </h6>

                                                </div>
                                            </td>
                                            <td><select name="size" id="<%= product._id._id %>Size"
                                                    onchange="changeSize('<%= product._id._id %>')">
                                                    <option value="<%= product.size %>">
                                                        <%= product.size %>
                                                    </option>
                                                    <% product._id.sizes.forEach((size)=> {
                                                        if (size.size != product.size) { %>
                                                        <option value="<%= size.size %>">
                                                            <%= size.size %>
                                                        </option>
                                                        <% } %>
                                                            <% }) %>

                                                </select></td>
                                            <td class="cart__price">₹ <%= product._id.price %>
                                            </td>
                                            <td class="cart__quantity">
                                                <div class="pro-qty">
                                                    <button
                                                        onclick="decrementer('<%= product._id._id %>', '<%= product._id.price %>')"
                                                        class="dec qtybtn">-</button>
                                                    <input type="text" id="<%= product._id._id %>Counter"
                                                        value="<%= product.quantity %>">
                                                    <button
                                                        onclick="incrementer('<%= product._id._id %>', '<%= product._id.price %>' )"
                                                        class="inc qtybtn">+</button>
                                                </div>
                                            </td>
                                            <td class="cart__total totalAmount total" id="<%= product._id._id %>Price">
                                                <%= product.quantity * product._id.price %>
                                            </td>
                                            <td class="cart__close"><button
                                                    onclick="removeFromCart('<%= product._id._id %>', '<%= product._id.price %>', )"
                                                    class="btn_close icon_close"></button></td>
                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 ">
                                <div class="cart__total__procced">
                                    <h6>Cart total</h6>
                                    <ul>
                                        <li>Subtotal <span id="subTotal" class="total">0</span></li>
                                        <li>Total <sup>(tax included*)</sup> <span id="total" class="total">
                                                0</span></li>
                                    </ul>
                                    <% if (products.length > 0) { %>
                                    <a href="/user/checkout/<%= token %>" id="checkoutBtn" class="primary-btn">Proceed to checkout</a>
                                    <% } %>
                                </div>
                                <div class="col-lg-12 col-sm-12 mt-5">
                                    <div class="cart__btn update__btn">
                                        <a href="/user/shop?page=1"><span class=""></span> Continue Shopping</a>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">

                    </div>

                </div>
            </div>
        </section>
        <!-- Shop Cart Section End -->


        <!-- Footer Section Begin -->
        <!-- <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                cilisis.</p>
                            <div class="footer__payment">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="footer__widget">
                            <h6>Quick links</h6>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="footer__widget">
                            <h6>Account</h6>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Orders Tracking</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-8">
                        <div class="footer__newslatter">
                            <h6>NEWSLETTER</h6>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit" class="site-btn">Subscribe</button>
                            </form>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                         Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!-- <div class="footer__copyright__text">
                            <p>Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            </p>
                        </div> -->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <!-- </div>
                </div>
            </div>
        </footer> --> 
        <!-- Footer Section End -->

        <!-- Search Begin -->

        <!-- Search End -->

        <!-- Js Plugins -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/mixitup.min.js"></script>
        <script src="/static/js/jquery.countdown.min.js"></script>
        <script src="/static/js/jquery.slicknav.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.nicescroll.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
<script>
    const cartCount = document.getElementById("cartCount");
    const subTotal = document.getElementById('subTotal');
    const totol = document.getElementById('totol');
    const totalAmount = document.getElementsByClassName('totalAmount');
    const table = document.querySelector('tbody');
    const btn = document.querySelector('#checkoutBtn');

    btn.addEventListener('click', function(e) {
        e.preventDefault();
        fetch('/user/checkout/check/stock', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
        }).then((response)=> response.json()).then((data)=> {
            console.log(data)
            if (data.success) {
                location.href = btn.href;
            }
             else {
                alert(`sorry eda njmmle ${data.products}, athundallo ath ipo njammade kayyil lla`);
             }
        }).catch((err)=> {
            console.log(err);
        })
    })

    function removeFromCart(id, price) {
        fetch('/user/cart/remove/from/cart', {
            method: 'DELETE',
            body: JSON.stringify({
                id: id,
            }),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((response) => response.json()).then((data) => {
            if (data.success) {
                let subtotal = Number(subTotal.textContent);
                const counter = document.getElementById(`${id}Counter`);
                const quantity = Number(counter.value);
                subtotal = subtotal - (Number(price) * quantity);
                subTotal.innerHTML = subtotal;
                total.innerHTML = (subtotal + (subtotal * (12 / 100)));
                const count = Number(cartCount.innerHTML);
                cartCount.innerHTML = count - 1;
                const row = document.getElementById(id);
                row.parentNode.removeChild(row);
                if (table.innerHTML.trim() == '') {
                    btn.parentNode.removeChild(btn);


                }
                
             
            } else {
                swal("Oops!", "Failed to remove  from cart!", "fail");

            }
        })
    }
    function decrementer(id, price) {
        const counter = document.getElementById(`${id}Counter`);
        count = Number(counter.value);
        if (count > 1) {
            fetch('/user/cart/decrement/quantity', {
                method: 'PUT',
                body: JSON.stringify({
                    id: id,

                }),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then((response) => response.json()).then((data) => {
                if (data.success) {
                    const priceCell = document.getElementById(`${id}Price`);
                    let subtotal = Number(subTotal.textContent);

                    subtotal = subtotal - Number(price);
                    subTotal.innerHTML = subtotal;
                    total.innerHTML = (subtotal + (subtotal * (12 / 100)));
                    const amount = Number(price) * --count;
                    priceCell.innerHTML = amount
                    counter.value = count;

                }
            })
        } else {
            swal({
                title: "Are you sure?",
                text: "Making  the quantity  0 will remove the item from your cart",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        removeFromCart(id, price);
                    }
                });

        }


    }
    function incrementer(id, price) {
        fetch('/user/cart/increment/quantity', {
            method: 'PUT',
            body: JSON.stringify({
                id: id,

            }),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((response) => response.json()).then((data) => {
            if (data.success) {
                const counter = document.getElementById(`${id}Counter`);
                const priceCell = document.getElementById(`${id}Price`);
                let subtotal = Number(subTotal.textContent);

                let count = Number(counter.value);
                const amount = Number(price) * ++count;
                subtotal = subtotal + Number(price);
                total.innerHTML = (subtotal + (subtotal * (12 / 100)));
                subTotal.innerHTML = subtotal;

                priceCell.innerHTML = amount
                counter.value = count;

            }
        })
    }
    function changeSize(id) {
        const size = document.getElementById(`${id}Size`).value;
        fetch('/user/cart/change/size', {
            method: 'PUT',
            body: JSON.stringify({
                id: id,
                size: size,

            }),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((response) => response.json()).then((data) => {
            if (data.success) {

            }
        })
    }

    document.addEventListener('DOMContentLoaded', function (event) {
        let totalPrice = 0;
        const array = Array.from(totalAmount)
        array.forEach((element) => {
            console.log(typeof (Number(element.textContent)))
            totalPrice += Number(element.textContent);

        })
        subTotal.innerHTML = totalPrice;
        total.innerHTML = (totalPrice + (totalPrice * (12 / 100)));


    });
</script>

</html>